<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>gravitySimulator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <h:outputStylesheet name="css/screen.css" />
    <h:outputScript name="js/three.min.js"></h:outputScript>
    <h:outputScript name="js/trackballControls.js"></h:outputScript>
    <h:outputScript name="js/orbitControls.js"></h:outputScript>
    <h:outputScript name="js/dat.gui.min.js"></h:outputScript>
    <h:outputScript name="js/rStats.js"></h:outputScript>
    <h:outputScript name="js/rStats.extras.js"></h:outputScript>
</h:head>
<h:body id="canvas" style="overflow: hidden">
         <ui:insert name="content">
                    [Template content will be inserted here]
         </ui:insert>
</h:body>
</html>
